h2{
    font-size: 36px;
    margin-bottom: 17.5px;
    color: #515357;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h4{
    padding: 40px 0 20px 0;
    color: #515357;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}