.blog-card{
    justify-content: left;
}
.blog-card > img{
    border-radius: 10px;
}

.blog-post-section__heading{
    text-align: center;
    margin-bottom: 10px;
}

.blog-post-section__text{
    text-align: center;
    margin-bottom: 100px;
}