.description__heading{
    font-size: 40px;
    color: white;
    padding: 30px;
    text-align: center;
}

.description__text{
    font-size: 20px;
    color: white;
    opacity: 0.7;
    margin: 0 50px;
    margin-bottom: 50px;
    text-align: center;
}

.description{
    text-align: center;
}

.description >.btn-danger:hover{
    background: transparent;
    border: white;
}