.description__heading{
    font-size: 34px;
    color: white;
    margin-bottom: 8px;
    text-align: center;
}

.description__text{
    font-size: 16px;
    color: white;
    opacity: 0.7;
    margin: 0 50px;
    margin-bottom: 50px;
    text-align: center;
}

.description{
    text-align: center;
}

.description >.btn:hover{
    background: transparent;
    border: solid 2px white;
}