.info-card{
    padding: 0 12px;
}

.info-card__heading{
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
    color: white;
}

.info-card__text{
    font-size: 14px;
    color: #FFFFFF80;
    margin: 0;
}

.info-card__icon-container {
    color: white;
    height: 50px;
    align-items: center;
    margin-top: 10px;
}

/* .info__icon{
    color: white;
    margin-top: 50px;
}

.info__heading{
    font-size: 25px;
    color: white;
    padding: 30px;
    padding-bottom: 0;
}

.info__text{
    font-size: 15px;
    color: white;
    opacity: 0.5;
    margin: 0 25px;
}

.info{
    padding-bottom: 20px;
} */