.review-carousel__btn{
  background: transparent;
  font-size: 50px;
  margin-top: 100px;
  border: 0;
}

.right-btn{
  margin-left: 250px;
}

.review{
  display: none;
}

.review-carousel__btn-container{
  justify-self: center;
  align-self: center;
}

.review-carousel{
  justify-content: center;
}

.review-carousel__content{
  align-items: center;
}

.review-carousel__round-btn-container{
  display: flex;
  justify-content: center;
}

.review-carousel__round-btn{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 2px;
  background: transparent;
}